<!-- views/partials/footer.ejs -->

    <footer class="probootstrap_section probootstrap-border-top">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <h2 class="">Quick Links</h2>
            <ul class="list-unstyled">
              <li class="nav-item active"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/city-guides">Places</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/planatrip">Plan a Trip</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
			      <li class="nav-item"><a href="/login">Login/Signup</a></li>
            </ul>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <h3>Jaunt | Travel app!</h3>
          </div>
        </div>
      </div>
    </footer>

