
<!-- views/partials/head.ejs -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jaunt | Travel app</title>
	<meta name="description" content="Jaunt">
	<meta name="keywords" content="travel">   
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">    
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">    
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/select2.css">
    <link rel="stylesheet" href="/stylesheets/helpers.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/timelinestyle.css">
    <link rel="stylesheet" href="/stylesheets/lightbox.css">
    <!-- <script src="http://s.codepen.io//libs/modernizr.js" type="text/javascript"></script> -->
    